.AuthPage {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url('https://i.imgur.com/mhd72NS.gif');
    //background-color: black;
    border-radius: 2vmin;
    font-family: 'Metal Mania';
  }
  
  .AuthPage h3 {
    margin-top: 4vmin;
    text-align: center;
    color: wheat;
    cursor: pointer;
    font-family: 'Metal Mania';
  }