.Logo {
    height: 14vmin;
    width: 14vmin;
    display: flex;
    
    justify-content: center;
    align-items: center;
    border-radius: 80%;
    background-color: darkred;
    color: wheat;
    font-size: 2.8vmin;
    border: .4vmin solid red;
    }