.MenuListItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vmin;
    padding: 2vmin;
    color: wheat;
    background-color: slategray;
    border: .3vmin wheat;
    border-radius: 1vmin;
    font-size: 4vmin;
  }
  
  .MenuListItem .emoji {
    height: 8vw;
    width: 8vw;
    font-size: 4vw;
    background-color: black;
    border: .5vmin solid wheat;
    border-radius: 1vmin;
  }
  
  .MenuListItem .buy {
    display: flex;
    flex-direction: column;
    color: red;
  }
  
  .MenuListItem .buy span {
    font-size: 1.7vw;
    text-align: center;
    color: wheat;
  }
  
  .MenuListItem .name {
    font-size: 2vw;
    text-align: center;
    color: wheat;
  }